extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Actualizando Bicicleta

    br
    br

    form(action=`/bicicletas/update/${bici.id}` method='post')
        label(for='code') ID:
        input#code(type='text' name='code' value=bici.code)
        br
        label(for='color') Color:
        input#color(type='text' name='color' value=bici.color)
        br
        label(for='modelo') Modelo:
        input#modelo(type='text' name='modelo' value=bici.modelo)
        br
        label(for='lat') Latitud:
        input#lat(type='text' name='lat' value=bici.ubicacion[0])
        br
        label(for='long') Longitud:
        input#long(type='text' name='long' value=bici.ubicacion[1])
        br
        br
        br
        input.btn(type='submit' value='OK')